<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<style>.govuk-width-container{margin: 0px; width: 100%; max-width: 100%; } #content{margin: 0px; padding: 20px;} .govuk-main-wrapper{padding: 0px 10px;} .govuk-template__body{width: 100%; margin: 0px ; padding: 0px; margin: 0;
    background-color: #ffffff;}
    #content{padding-top: 0px}
    .govuk-footer {padding: 20px;} </style>